<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/chat.js" defer></script>
    <title>Chat</title>
</head>
<body>
    <%- include('../templates/header.ejs') %>

    <h2>Olá <%= name %>. Você está na sala <%= sala %></h2>

    <div id="chat-container">
        <div id="message-box">
        </div>
        <div id="message-input-container">
            <input type="text" id="message-input">
            <button type="button" id="send-button">Enviar</button>
        </div>
    </div>

    <button id="log-out"><i class='bx bx-log-out'></i></button>

    <%- include('../templates/footer.ejs') %>
</body>
</html>